{{ `<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha512-UDJtJXfzfsiPPgnI5S1000FPLBHMhvzAMX15I+qG2E2OAzC9P1JzUwJOfnypXiOH7MRPaqzhPbBGDNNj7zBfoA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" integrity="sha512-qWVvreMuH9i0DrugcOtifxdtZVBBL0X75r9YweXsdCHtXUidlctw7NXg5KVP3ITPtqZ2S575A0wFkvgS2anqSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <![endif]-->` | safeHTML }}

{{ `<!--[if lte IE 11]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classlist/1.1.20170427/classList.min.js" integrity="sha512-kdkYwhFMHo+H0DFCZ2HegkiCssnav/Xw/ImqRMyP8N5iNbnnh+tj1dZHunnQFylkmKgO6deVfKVL/elBA3ivMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <![endif]-->` | safeHTML }}

<!-- IEdge 9-14, Android < 5, Safari < 10 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.3/ofi.min.js" integrity="sha512-8UDDhIyOzLnJQ7yspA+lORaDJmRg/qbu+j1CuAT+ctb9iCDPH1kU7DbLbg//LJfuzJ6hd2N1EoV07t57NdZnCQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Smooth Scroll with closest & requestAnimationFrame Polyfills -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.4/js/smooth-scroll.polyfills.min.js" integrity="sha512-WdVQeywlHGOPdGi/FFYG0B2FhMIi+pEgBvG59sDvdb7nciaxodb8QJ26o70mEMWaEX7Z6Frt2yBZEiV5gh4TYQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
